[submodule "cmake/ios"]
	path = cmake/ios
	url = https://github.com/xiaobin83/ios-cmake.git
[submodule "cmake/android"]
	path = cmake/android
	url = https://github.com/xiaobin83/android-cmake.git
[submodule "lua-prebuilt"]
	path = lua-prebuilt
	url = https://github.com/xiaobin83/lua-prebuilt
